<section id="about-mini" class="component">
	<header>
		<h1>About the author</h1>
	</header>
	<p>
		Hi, my name is Arnold Zokas.<br />
		I create software using .NET, MVC, Sitecore and beautifully crafted HTML, CSS, and JS
	</p>
	<a href="http://stackexchange.com/users/415edd37188f4c96aeda3a1b9e8cf4bd" rel="me">
		<img src="http://stackexchange.com/users/flair/415edd37188f4c96aeda3a1b9e8cf4bd.png" height="58" width="208" alt="profile for Arnold Zokas on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Arnold Zokas on Stack Exchange, a network of free, community-driven Q&amp;A sites">
	</a>
</section>