@model FacebookButtonModel

<div class="fb-like" data-href="@Url.Permalink()" data-send="false" data-layout="button_count" data-show-faces="false" data-action="@Model.Action" data-font="segoe ui"></div>