@model LogInModel

@{
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
	ViewBag.Title = "Log In";
}

<section class="primary-content form">
	<header>
		<h1>Log In</h1>
	</header>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		<fieldset>
			@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
			@Html.EditorFor(m => m.Email, new { @class = "autofocus", autoComplete = "on", enabledInlineValidationMessages = true })
			@Html.EditorFor(m => m.Password, "Password")
			<div>
				<input type="submit" value="Log In" />
			</div>
		</fieldset>
	}
</section>