@model object

@{
	ViewBag.Title = "Page not found (404)";
}

<article class="post grid_11">
	<header>
		<h1>Uh, oh. The page you are looking for could not be found.</h1>
	</header>
	<p>Not sure how this happened &ndash; I&rsquo;m sorry :-(</p>
	<ul>
		<li>Was it lost?</li>
		<li>Was it deleted?</li>
		<li>Did it ever exist?</li>
	</ul>
	<p>We will never know, but why don't you @Html.ActionLink("visit the home page", "Home").</p>
</article>
