@model string

<section class="share">
	<div class="channel">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="@Model" data-via="arnoldzokas" data-related="arnoldzokas">Tweet</a>
		<script>
			(function () {
				var script = document.createElement("script");
				script.async = true;
				script.src = "//platform.twitter.com/widgets.js";
				document.getElementsByTagName("body")[0].appendChild(script);
			})();
		</script>
	</div>
	<div class="channel">
		<div class="g-plusone" data-annotation="inline" data-width="150" data-href="@Model"></div>
		<script>
			window.___gcfg = { lang: 'en-GB' };

			(function () {
				var script = document.createElement("script");
				script.async = true;
				script.src = "https://apis.google.com/js/plusone.js";
				document.getElementsByTagName("body")[0].appendChild(script);
			})();
		</script>
	</div>
</section>