@model TwitterButtonModel

<a href="https://twitter.com/share" class="twitter-share-button" data-url="@Url.Permalink()" data-text="@Model.Text" data-count="horizontal" data-via="arnoldzokas">Tweet</a>