@model object

@{
	ViewBag.Title = "Arnold Zokas, Senior .NET developer";
	ViewBag.Description = "Novus Craft are a software development consultancy delivering top solutions using Sitecore CMS, .NET, ASP.NET MVC, RavenDB and other technologies.";
}

<article class="post">
	<header>
		<h1>Hi, I&rsquo;m Arnold and I love writing great software</h1>
	</header>
	<p>I live in London and work at Novus Craft. I develop solutions using .NET, ASP.NET MVC, Sitecore, RavenDB and a variety of other front-end and back-end technologies.</p>
	<p>Software development has been my passion since a young age and I am a big tech geek. When I am not working on commercial projects, I spend a lot of time reading blogs, books and practicing my craft by contributing to open-source projects.</p>
	<p>To find out more about my work check out my <a href="http://www.linkedin.com/in/arnoldzokas" title="Arnold Zokas' LinkedIn profile" rel="me">LinkedIn</a> and <a href="http://careers.stackoverflow.com/arnoldzokas" title="Arnold Zokas's StackOverflow Careers profile" rel="me">StackOverflow Careers</a> pages.</p>
	<p>If you would like to speak to me about a project email me at <a href="mailto:arnold.zokas@novuscraft.com" title="My email address">arnold.zokas@novuscraft.com</a>.</p>
</article>