@{
	ViewBag.Title = "About";
	ViewBag.Description = "Novus Craft are a software development consultancy delivering top solutions using Sitecore CMS, .NET, ASP.NET MVC, RavenDB and other technologies.";
}

@section aside
{
	@Html.Partial("Subscribe")
}

<article class="primary-content post page">
	<header>
		<h1>Novus Craft</h1>
	</header>
	<p>We are a London&ndash;based software consultancy, specialising in .NET and Sitecore solutions.</p>
	<h2>What we do</h2>
	<p>Our services include:</p>
	<h3>.NET</h3>
	<ul>
		<li>Back&ndash;end services</li>
		<li>ASP.NET web applications</li>
		<li>ASP.NET MVC web applications</li>
		<li>Bespoke data migration solutions</li>
	</ul>
	<h3>Sitecore</h3>
	<ul>
		<li>Architecture and capacity planning</li>
		<li>Installation and Customisation</li>
		<li>Development and maintenance</li>
		<li>Performance tuning and optimisation</li>
		<li>Developer training</li>
	</ul>
	<h3>Process automation</h3>
	<ul>
		<li>Continuos Integration solutions</li>
		<li>Deployment automation solutions</li>
	</ul>
	<h2>Our clients</h2>
	<p>Our clients include organisations in the insurance sector (<a href="http://www.lloyds.com/">Lloyd's of London</a>), travel sector (<a href="http://scottdunn.com/">Scott Dunn</a>) and media sector (<a href="http://www.etv.tv/">ETV Media</a>).</p>
	<h2>Get in touch</h2>
	<p>We would love to hear about your project. Please email us at <a href="mailto:arnold.zokas@novusraft.com">arnold.zokas@novusraft.com</a> and we will get back to you as soon as possible.</p>
</article>