@model object

@{
	ViewBag.Title = "Contact Me";
	ViewBag.Description = ">Do you have an interesting idea you would like to talk about? Fantastic!";
}

<article class="post">
	<header>
		<h1>Contact me</h1>
	</header>
	<p>Do you have an interesting idea you would like to talk about? Fantastic!</p>
	<p>There are no contact forms to fill out - simply email me at <a href="mailto:arnold.zokas@novuscraft.com" title="My email address">arnold.zokas@novuscraft.com</a> and I will get back to you as soon as I can.</p>
</article>