@{
	ViewBag.Title = "Contact Me";
	ViewBag.Description = "Novus Craft are a software development consultancy delivering top solutions using Sitecore CMS, .NET, ASP.NET MVC, RavenDB and other technologies.";
}

@section aside
{
	@Html.Partial("Subscribe")
}

<article class="primary-content post page">
	<header>
		<h1>Contact us</h1>
	</header>
	<p>
		Do you have an interesting idea you would like to talk about? Great!<br />
		Simply email us at <a href="mailto:arnold.zokas@novuscraft.com">arnold.zokas@novuscraft.com</a> and we will get back to you as soon as possible.
	</p>
</article>