@model object

@{
	ViewBag.Title = "novuscraft.com";
}

<article class="post">
	<header>
		<h1>Welcome to My Blog</h1>
	</header>
	<p>I have been wanting to set one up for a while, but for various reasons kept postponing.</p>
	<p>One of the things that prompted me to start a blog is my desire to learn ASP.NET MVC. I could not think of a better way to learn than building a blogging engine. My other reason for starting a blog is I want need a place where I can share my discoveries and ideas. It bugs me that every time I have solved a rare challenge (rare in a sense that Google had no answer to it) I have not shared the solution.</p>
	<p>Currently, the blog engine is just a skeleton implementation constructed with ASP.NET MVC 3 (C# 4 + Razor views) and HTML5 + CSS3 + jQuery. Source code is available publicly on <a href="https://github.com/NovusCraft/NovusCraft" title="novuscraft.com public Git repository">Github</a>.</p>
	<p>I have lots of things on my backlog (<a href="http://ravendb.net/" title="RavenDB - an Open Source document database for the .NET/Windows platform">RavenDB</a>, <a href="https://github.com/jetheredge/SquishIt" title="SquishIt lets you squish some JavaScript and CSS">SquishIt</a>, and more), so this should keep me busy for a while.</p>
	<footer>
		Published on <time datetime="2011-10-23T22:50:00+00:00" pubdate>23rd October 2011</time> in category <strong>Meta</strong>.
	</footer>
</article>