@model String

@{
	Layout = null;
}

<div>
	@Html.LabelFor(m => m)
	@Html.TextBoxFor(m => m, new { @class = ViewData["class"], autocomplete = "off", data_options = Json.Encode(ViewData["options"]) })
</div>