@model DateTimeOffset

@{
	Layout = null;
}

<div>
	@Html.LabelFor(m => m)
	@Html.TextBoxFor(m => m, new { Value = Model.ToUniversalTime().ToEditorLongDateTime(), @class = "datetime-picker " + ViewData["class"] })
</div>