/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* =============================================================================
   HTML5 element display
   ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section { display:block; }
audio[controls],
canvas,
video { display:inline-block; *display:inline; *zoom:1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html { font-size:100%; overflow-y:scroll; -webkit-overflow-scrolling:touch; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { margin:0; font-size:13px; line-height:1.231; }
body,
button,
input,
select,
textarea { font-family:sans-serif; color:#222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection { background:#fe57a1; color:#fff; text-shadow:none; }
::selection { background:#fe57a1; color:#fff; text-shadow:none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color:#00e; }
a:visited { color:#551a8b; }
a:focus { outline:thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active { outline:0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom:1px dotted; }
b,
strong { font-weight:bold; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
ins { background:#ff9; color:#000; text-decoration:none; }
mark { background:#ff0; color:#000; font-style:italic; font-weight:bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,
code,
kbd,
samp { font-family:monospace, monospace; _font-family:'courier new', monospace; font-size:1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; }

q { quotes:none; }
q:before,
q:after { content:""; content:none; }
small { font-size:85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub,
sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol { margin:1em 0; padding:0 0 0 40px; }
dd { margin:0 0 0 40px; }
nav ul,
nav ol { list-style:none; margin:0; padding:0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border:0; -ms-interpolation-mode:bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) { overflow:hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin:0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin:0; }
fieldset { border:0; margin:0; padding:0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend { border:0; *margin-left:-7px; padding:0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor:pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button,
input { line-height:normal; *overflow:visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] { cursor:pointer; -webkit-appearance:button; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"],
input[type="radio"] { box-sizing:border-box; }
input[type="search"] { -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
button::-moz-focus-inner,
input::-moz-focus-inner { border:0; padding:0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow:auto; vertical-align:top; }

/* Colors for form validity */
input:valid,
textarea:valid { }
input:invalid,
textarea:invalid { background-color:#f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse:collapse; border-spacing:0; }


/* =============================================================================
   Primary styles
   Author: Arnold Zokas
   ========================================================================== */

/* == DEBUG STYLES */
/*
#header,
#container,
#footer { background:url(/img/grid.png) !important; }
*/

/* [GLOBAL] */
body { color:#555; font-family:"Segoe UI", Segoe, Tahoma, Geneva, sans-serif; font-size:62.5%; margin:0; padding:0; }
p { margin:0; }
a { color:#d93c3c; text-decoration:none; }
a:visited { color:#a33131; }
a:hover,
a:hover:visited { color:#000; text-decoration:underline; }


/* header */
#header { margin:0 auto; height:72px; width:960px; }
#header h1 { float:left; font-size:1em; margin:16px 0 0 10px; }
#header h1 a { background:url(/img/logo.png) no-repeat; border:none; display:block; height:40px; text-indent:-99999px; width:150px; }

/* nav */
#header nav { float:left; left:570px; position:relative; }
#header li { float:left; }
#header li a { color:#888; display:block; padding:33px 10px 10px 10px; font-size:1.6em; line-height:1; text-decoration:none; text-transform:uppercase; }
#header li a:hover,
#header .active { border-bottom:#777 solid 2px; color:#333; padding:33px 10px 10px 10px; }

/* container */
#container { margin:0 auto; width:960px; }
.primary-content { float:left; padding:20px 10px 10px; width:700px; }
article.primary-content { padding-top:30px; }
.secondary-content { float:left; padding:20px 0 10px 10px; width:230px; }

/* footer */
#footer { padding:24px 10px; width:940px; }
#footer span { color:#777; font-size:1.2em; font-weight:bold; line-height:2; }

/* == POST */
/* base */
.post { float:left; margin-bottom:14px; padding-top:10px; }
.post p { font-size:1.6em; line-height:1.5; margin-bottom:24px; }
.post pre + p,
.post ul + p,
.post ol + p,
.post p + p { text-indent:1em; }

/* headers */
.post h1 { color:#333; font-size:2.4em; font-weight:normal; line-height:1; margin:0 0 24px; }
.post h2 { color:#555; font-size:2.2em; font-weight:normal; line-height:1.1; margin:0 0 24px; }
.post h3 { color:#444; font-size:2.0em; font-weight:normal; line-height:1.2; margin:0 0 24px; }

/* meta */
.post .meta { font-style:italic; }
.post .profile-link { border:none; text-decoration:none; }

/* lists */
.post ul,
.post ol { margin:0 0 24px; padding-left:20px; }
.post ul > li { font-size:1.6em; line-height:1.5; list-style-type:disc; margin-left:1em; } /* needed for Disqus, <sigh...> */
.post ol li { font-size:1.6em; line-height:1.5; list-style-type:decimal; }
.ie ul,
.ie ol { margin-bottom:23px; }

/* attention blocks */
.post .update { background:#f6dcdc; border:solid 1px #f07373; padding:11px; text-indent:0; -webkit-border-radius:0.5em; -moz-border-radius:0.5em; border-radius:0.5em; }
.post .update:before { content:"Update: "; font-weight:bold; }
.post .warning { background:#feffc3; border:solid 1px #e0bc4a; padding:11px; text-indent:0; -webkit-border-radius:0.5em; -moz-border-radius:0.5em; border-radius:0.5em; }
.post .warning:before { content:"Note: "; font-weight:bold; }

/* code */
p code,
li code { background:#eee; color:#444; font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; font-size:0.9em; padding:1px 3px; }
pre { background:#fafafa; border-left:#efefef solid 4px; font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; font-size:1.2em; line-height:2; margin:0 0 24px; padding:12px 12px; }

/* footer */
.post footer { margin-top:1.6em; }
.share { background:#efefef; border:solid 0.1em #ddd; margin-top:1.6em; padding:1em 1em 0.5em 12em; -webkit-border-radius:0.5em; -moz-border-radius:0.5em; border-radius:0.5em; }
#disqus_thread a { font-size:1.4em; }
#dsq-footer { margin:0 !important; }

/* == ASIDE */
.component { background:#f7f7f7; margin-bottom:12px; padding:10px 10px 12px 10px; }
.component h1 { color:#555; font-size:1.8em; font-weight:normal; line-height:1.35; margin:0 0 24px; }
.component p { color:#777; font-size:1.6em; line-height:1.5; }

#about-mini a { background:none; display:block; margin:12px 0; width:208px; }
#subscribe a { background:url("/img/icons/feed_icon.png") no-repeat; border:none; display:block; font-size:1.6em; height:24px; line-height:1.5; padding-left:36px; }

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat:no-repeat; text-align:left; direction:ltr; }
.ir br { display:none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility:hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }


/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
	/* Style adjustments for viewports 480px and over go here */
}

@media only screen and (min-width: 768px) {
	/* Style adjustments for viewports 768px and over go here */
}


	/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
   
/*For print debugging use: media screen and (max-width:8.5in)*/
@media print {
	* { background:transparent !important; color:black !important; font-family:"Times New Roman", Times, serif; text-shadow:none !important; filter:none !important; -ms-filter:none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
	a,
	a:visited { border:none !important; color:black !important; text-decoration:none; }
	li a[href]:after,
	p a[href]:after { content:" (" attr(href) ")"; font-size:90%; }
	h1 a { border:none; }
	abbr[title]:after { content:" (" attr(title) ")"; }
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after { content:""; }  /* Don't show links for images, or javascript/internal links */
	pre { page-break-inside:avoid; }
	blockquote { border:1pt solid #999; page-break-inside:avoid; }
	thead { display:table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
	tr,
	img { page-break-inside:avoid; }
	img { max-width:100% !important; }
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 { orphans:3; widows:3; }
	h2,
	h3 { page-break-after:avoid; }
	
	/* PAGE HEADER */
	#header { height:auto; }
	#header h1 { margin:0; width:100%; }
	#header h1 a { font-size:14pt; height:auto; text-indent:0; width:100%; }
	#header h1 a:after { content:"(Thank you for printing. Please visit http://novuscraft.com for latest articles.)"; font-size:12pt; font-weight:normal; }
	#header nav { display:none; }
	
	/* CONTENT */
	html,
	body,
	#container,
	#container .primary-content { border:none; width:100%; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; }
	.post { padding:0; width:auto; }
	.post header { border:none; }
	.post h1 { font-size:20pt; margin:12pt 0; line-height:30pt; }
	.post .meta { font-size:12pt; }
	.post .profile-link { display:none; }
	.post p { font-size:12pt; }
	.post .warning,
	.post code { border-color:#000; }
	.post ul li { font-size:12pt; margin-left:6pt; }
	.post .share { display:none; }
	#disqus_thread { display:none; }
	
	/* SIDEBAR */
	aside { display:none; }
		
	/* FOOTER */
	#footer { border:none; padding:24pt 0 0 0; }
	#footer span { font-size:12pt; }
}