/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* =============================================================================
   HTML5 element display
   ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section { display:block; }
audio[controls],
canvas,
video { display:inline-block; *display:inline; *zoom:1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html { font-size:100%; overflow-y:scroll; -webkit-overflow-scrolling:touch; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { margin:0; font-size:13px; line-height:1.231; }
body,
button,
input,
select,
textarea { font-family:sans-serif; color:#222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection { background:#fe57a1; color:#fff; text-shadow:none; }
::selection { background:#fe57a1; color:#fff; text-shadow:none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color:#00e; }
a:visited { color:#551a8b; }
a:focus { outline:thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active { outline:0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom:1px dotted; }
b,
strong { font-weight:bold; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
ins { background:#ff9; color:#000; text-decoration:none; }
mark { background:#ff0; color:#000; font-style:italic; font-weight:bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,
code,
kbd,
samp { font-family:monospace, monospace; _font-family:'courier new', monospace; font-size:1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; }

q { quotes:none; }
q:before,
q:after { content:""; content:none; }
small { font-size:85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub,
sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol { margin:1em 0; padding:0 0 0 40px; }
dd { margin:0 0 0 40px; }
nav ul,
nav ol { list-style:none; margin:0; padding:0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border:0; -ms-interpolation-mode:bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) { overflow:hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin:0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin:0; }
fieldset { border:0; margin:0; padding:0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend { border:0; *margin-left:-7px; padding:0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor:pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button,
input { line-height:normal; *overflow:visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] { cursor:pointer; -webkit-appearance:button; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"],
input[type="radio"] { box-sizing:border-box; }
input[type="search"] { -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
button::-moz-focus-inner,
input::-moz-focus-inner { border:0; padding:0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow:auto; vertical-align:top; }

/* Colors for form validity */
input:valid,
textarea:valid { }
input:invalid,
textarea:invalid { background-color:#f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse:collapse; border-spacing:0; }


/* =============================================================================
   Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
   ========================================================================== */
pre code { display:block; padding:0.5em; }
pre .comment,
pre .annotation,
pre .template_comment,
pre .diff .header,
pre .chunk,
pre .apache .cbracket { color:rgb(0, 128, 0); }
pre .keyword,
pre .id,
pre .title,
pre .built_in,
pre .aggregate,
pre .smalltalk .class,
pre .winutils,
pre .bash .variable,
pre .tex .command { color:rgb(0, 0, 255); }
pre .string,
pre .title,
pre .parent,
pre .tag .value,
pre .rules .value,
pre .rules .value .number,
pre .ruby .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .instancevar,
pre .aggregate,
pre .template_tag,
pre .django .variable,
pre .addition,
pre .flow,
pre .stream,
pre .apache .tag,
pre .date,
pre .tex .formula { color:rgb(163, 21, 21); }
pre .ruby .string,
pre .decorator,
pre .filter .argument,
pre .localvars,
pre .array,
pre .attr_selector,
pre .pseudo,
pre .pi,
pre .doctype,
pre .deletion,
pre .envvar,
pre .shebang,
pre .preprocessor,
pre .userType,
pre .apache .sqbracket,
pre .nginx .built_in,
pre .tex .special,
pre .input_number { color:rgb(43, 145, 175); }
pre .phpdoc,
pre .javadoc,
pre .xmlDocTag { color:rgb(128, 128, 128); }
pre .vhdl .type { font-weight:bold; }
pre .vhdl .string { color:#666666; }
pre .vhdl .literal { color:rgb(163, 21, 21); }


/* =============================================================================
   Primary styles
   Author: Arnold Zokas
   ========================================================================== */

/* GLOBAL */
body { background:url(/img/bg.png); color:#555; font-family:"Segoe UI", Segoe, Tahoma, Geneva, sans-serif; font-size:62.5%; margin:0; padding:0; }
aside { color:#444; }
p { margin:0; }
a { color:#d93c3c; text-decoration:none; }
a:hover { background:#efefef; color:#000; }
a:visited { color:#a33131; }

/* PAGE */
#header { margin:0 auto; width:96em; }
#header h1 { float:left; font-size:1em; margin:1em 0 0 2em; }
#header h1 a { background:url(../img/logo.png) no-repeat; border:none; display:block; height:4em; text-indent:-9999em; width:15em; }

#header nav { background:#fff; float:right; margin-top:2em; -webkit-box-shadow:0 0 0.6em rgba(0, 0, 0, 0.2); -moz-box-shadow:0 0 0.6em rgba(0, 0, 0, 0.2); box-shadow:0 0 0.6em rgba(0, 0, 0, 0.2); -webkit-border-radius:0.5em; -moz-border-radius:0.5em; border-radius:0.5em; }
#header li { float:left; }
#header li a { border:none; color:#888; display:block; font-size:1.4em; padding:0.4em 1em; text-decoration:none; text-transform:uppercase; }
#header li a:hover { background:none; color:#d93c3c; }
#header .active { color:#d93c3c; }

#container { background:#fff; margin:2em auto 0 auto; width:96em; -webkit-box-shadow:0 0 0.6em rgba(0, 0, 0, 0.1); -moz-box-shadow:0 0 0.6em rgba(0, 0, 0, 0.1); box-shadow:0 0 0.6em rgba(0, 0, 0, 0.1); -webkit-border-radius:0.5em; -moz-border-radius:0.5em; border-radius:0.5em; }
#container .primary-content { float:left; padding:2em; width:63.9em; }
#container aside { border-left:solid 0.1em #eee; float:left; padding:3em 2em 2em 3em; width:23em; }

#footer { background:#efefef; border-top:solid 0.1em #ddd; padding:3em 2em 2em 2em; width:92em; -webkit-border-bottom-right-radius:0.5em; -webkit-border-bottom-left-radius:0.5em; -moz-border-radius-bottomright:0.5em; -moz-border-radius-bottomleft:0.5em; border-bottom-right-radius:0.5em; border-bottom-left-radius:0.5em; }
#footer span { display:block; font-size:1.4em; }


/* CONTENT */
/* post */
.post { background:#fff; float:left; padding:2em; width:63.9em; -webkit-border-top-left-radius:0.5em; -moz-border-radius-topleft:0.5em; border-top-left-radius:0.5em; }
.primary-content .post { border-top-left-radius:0; padding:0 0 4em 0; width:auto; }
.post header { border-bottom:dotted 0.1em #ccc; margin-bottom:1em; }
.post h1 { color:#333; font-size:2.5em; font-weight:normal; line-height:1.5em; margin:0 0 0.5em 0; }
.post .meta { font-size:1.4em; font-style:italic; }
.post .profile-link { background:none; border:none; vertical-align:middle; }
.post h2 { color:#555; font-size:2em; }
.post h3 { color:#777; font-size:1.5em; }
.post p { font-size:1.5em; line-height:1.6em; }
.post pre + p,
.post p + p { margin-top:1em; text-indent:1em; }
.post ul,
.post ol { padding-left:2em; }
.post ul > li { font-size:1.5em; line-height:1.6em; list-style-type:disc; } /* child selected can be removed when Disqus is removed */
.post ol li { font-size:1.5em; line-height:1.6em; list-style-type:decimal; }
.post p code,
.post li code { background-color:#eee; color:#444; font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; padding:0.1em 0.3em; }
.post .warning { background:#feffc3; border:solid 0.1em #e0bc4a; padding:0.5em 1em; text-indent:0; -webkit-border-radius:0.5em; -moz-border-radius:0.5em; border-radius:0.5em; }
.post .warning:before { content:"Note: "; font-weight:bold; }
.post footer { margin-top:1.6em; }
.post .share { background:#efefef; border:solid 0.1em #ddd; margin-top:1.6em; padding:1em 1em 0.5em 12em; -webkit-border-radius:0.5em; -moz-border-radius:0.5em; border-radius:0.5em; }
#disqus_thread a { font-size:1.4em; }
#dsq-footer { margin:0 !important; }

/* post (code sample) */
pre { font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; margin:0; }
p + pre { margin-top:1em; }
pre + pre { margin-top:2em; }
pre code { border:solid 0.1em #ddd; font-size:1.4em; line-height:1.3em; padding:1em; -webkit-border-radius:0.5em; -moz-border-radius:0.5em; border-radius:0.5em; }

/* forms */
.form h1 { color:#333; font-size:2.5em; font-weight:normal; line-height:1.5em; margin:0 0 0.5em 0; }
.validation-summary-valid { display:none; }
.validation-summary-errors { color:#d93c3c; font-size:1.4em; line-height:1.5em; padding:0; }
.validation-summary-errors ul { padding:0 0 0 1.5em; }
.input-validation-error { border-left-color:#ee8888; }
.valid { border-left-color:#a1ee88; }
.field-validation-error { color:#d93c3c; font-size:1.4em; line-height:1.5em; margin-left:1em; }
form div { clear:both; padding:0.5em 0; }
form label { float:left; font-size:1.5em; line-height:1.5em; padding-right:0.5em; width:8em; }
form input { border:solid 0.1em #aaa; border-left-width:0.2em; font-size:1.5em; padding:0.2em; width:12em; }
form textarea { border:solid 0.1em #aaa; border-left-width:0.2em; font-size:1.5em; height:12em; margin-left:8.5em; padding:0.2em; width:33.5em; }
form input:focus,
form textarea:focus { border-color:#e0b554; outline:none; }
form input[type=submit] { background:#eeeeee; background:-moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd)); background:-webkit-linear-gradient(top, #eeeeee 0%, #dddddd 100%); background:-o-linear-gradient(top, #eeeeee 0%, #dddddd 100%); background:-ms-linear-gradient(top, #eeeeee 0%, #dddddd 100%); background:linear-gradient(top, #eeeeee 0%, #dddddd 100%); border:solid 0.1em #dddddd; color:#555; margin-left:10.2em; padding:0.4em 0; width:8em; font-size:1.25em; }
form input[type=submit]:active { border:solid 0.1em #ccc; color:#333; }
#live-preview { border-top:solid 0.2em #ccc; margin-top:3em; padding-top:2em; width:100%; }

/* pagedown */
.wmd-panel { }
.wmd-button-bar { }
.wmd-input { }
.wmd-preview { }
#wmd-button-bar { border-bottom:none; clear:none; float:left; padding:0; position:relative; width:37.4em; }
.wmd-button-row { height:1.6em; margin:0 0 1em 0; padding:0; }
.wmd-spacer { background-color:#C0C0C0; display:inline-block; height:2em; list-style:none; margin-left:1.4em; position:absolute; width:0.1em; }
.wmd-button { cursor:pointer; display:inline-block; height:2em; list-style:none; padding:0 0.3em 0 0.2em; position:absolute; width:2em; }
.wmd-button > span { background:url(/img/wmd-buttons.png) no-repeat 0px 0px; display:inline-block; height:2em; width:2em; }
.wmd-spacer1 { left:4.8em; }
.wmd-spacer2 { left:17.5em; }
.wmd-spacer3 { left:30em; }
.wmd-prompt-background { background-color:#000; }
.wmd-prompt-dialog { background-color:#fff; border:solid 0.2em #777; padding:1em; -webkit-border-radius:0.5em; -moz-border-radius:0.5em; border-radius:0.5em; }
.wmd-prompt-dialog > div { font-size:1.5em; font-family:arial, helvetica, sans-serif; }
.wmd-prompt-dialog > form > input[type="text"] { border:solid 0.1em #aaa; font-size:1.5em; margin:1em; width:12em; }
.wmd-prompt-dialog > form > input[type="button"] { background:#eeeeee; background:-moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd)); background:-webkit-linear-gradient(top, #eeeeee 0%, #dddddd 100%); background:-o-linear-gradient(top, #eeeeee 0%, #dddddd 100%); background:-ms-linear-gradient(top, #eeeeee 0%, #dddddd 100%); background:linear-gradient(top, #eeeeee 0%, #dddddd 100%); border:solid 0.1em #dddddd; color:#555; margin-left:10.2em; padding:0.4em 0; width:8em; font-size:1.25em; }
.wmd-prompt-dialog > form > input[type="button"]:active { border:solid 0.1em #ccc; color:#333; }


/* ASIDE */
#subscribe { background:url("/img/feed-icon-28x28.png") no-repeat; border:none; display:block; font-size:1.4em; margin-bottom:1em; padding:0.4em 0 1em 2.5em; }

#about-mini { }
#about-mini p { font-size:1.4em; line-height:1.6em; }
#about-mini a { background:none; display:block; margin-top:1.6em; width:20.8em; }


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat:no-repeat; text-align:left; direction:ltr; }
.ir br { display:none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility:hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }


/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
	/* Style adjustments for viewports 480px and over go here */
}

@media only screen and (min-width: 768px) {
	/* Style adjustments for viewports 768px and over go here */
}


	/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
   
	/*For print debugging use: @media screen and (max-width:8.5in)*/
@media print {
	* { background:transparent !important; color:black !important; font-family:"Times New Roman", Times, serif; text-shadow:none !important; filter:none !important; -ms-filter:none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
	a,
	a:visited { border:none !important; color:black !important; text-decoration:none; }
	li a[href]:after,
	p a[href]:after { content:" (" attr(href) ")"; font-size:90%; }
	h1 a { border:none; }
	abbr[title]:after { content:" (" attr(title) ")"; }
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after { content:""; }  /* Don't show links for images, or javascript/internal links */
	pre { page-break-inside:avoid; }
	blockquote { border:1pt solid #999; page-break-inside:avoid; }
	thead { display:table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
	tr,
	img { page-break-inside:avoid; }
	img { max-width:100% !important; }
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 { orphans:3; widows:3; }
	h2,
	h3 { page-break-after:avoid; }
	
	/* PAGE HEADER */
	#header { height:auto; }
	#header h1 { margin:0; width:100%; }
	#header h1 a { font-size:14pt; height:auto; text-indent:0; width:100%; }
	#header h1 a:after { content:"(Thank you for printing. Please visit http://novuscraft.com for latest articles.)"; font-size:12pt; font-weight:normal; }
	#header nav { display:none; }
	
	/* CONTENT */
	html,
	body,
	#container,
	#container .primary-content { border:none; width:100%; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; }
	.post { padding:0; width:auto; }
	.post header { border:none; }
	.post h1 { font-size:20pt; margin:12pt 0; line-height:30pt; }
	.post .meta { font-size:12pt; }
	.post .profile-link { display:none; }
	.post p { font-size:12pt; }
	.post .warning,
	.post code { border-color:#000; }
	.post ul li { font-size:12pt; margin-left:6pt; }
	.post .share { display:none; }
	#disqus_thread { display:none; }
	
	/* SIDEBAR */
	aside { display:none; }
		
	/* FOOTER */
	#footer { border:none; padding:24pt 0 0 0; }
	#footer span { font-size:12pt; }
}